@page "/checkout/{Id:int}"
@using Assos_Ticket.Client.Services.ForVipCarService;
@using Assos_Ticket.Shared.DTO;
@inject IVipCarService _vipCarService


	<div class="arac-detay">
		<img src="@vipCar.ImageUrl" alt="Araç Resmi">
		<h2>Araç Adı</h2>
		<ul>
			<li><strong>Model:</strong> @vipCar.Model</li>
			<li><strong>Yakıt Tipi:</strong> Benzin</li>
			<li><strong>Kapasite:</strong> 4 Kişilik</li>
			<li><strong>Vites:</strong> Manuel</li>
			<li><strong>Renk:</strong> Beyaz</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada lorem ac nisl egestas, non laoreet elit elementum. Ut fringilla tellus nec ipsum ullamcorper ullamcorper. Fusce convallis nisi velit, vel pretium mi suscipit eget. </p>
		<button class="btn btn-primary" >Kiralama İsteği Gönder</button>
	</div>



@code {
	[Parameter]
	public int? Id { get; set; }
	VipCarDTO vipCar = new VipCarDTO();
	protected override async Task OnParametersSetAsync()
	{
		if (Id.HasValue)
		{
			vipCar = await _vipCarService.GetVipCar(Id.Value);

		}
	}
}
