@page "/"
@using Assos_Ticket.Client.Services.ForCarService;
@using Assos_Ticket.Shared;

@inject ICarImageService _carImageService;

<PageTitle>Index</PageTitle>

<h1>Araba Listesi</h1>

@foreach (var car in cars)
{
        <div>
            <h2>@car.VipCarId</h2>
            <img src="@car.ImageUrl" alt="Car Image">
        </div>
}
<SurveyPrompt Title="How is Blazor working for you?" />



@code{
    private List<CarImage> cars = new List<CarImage>();

    protected override async Task OnInitializedAsync()
    {
        cars = await _carImageService.GetAll();
    }
}