@page "/vipCars"
@using Assos_Ticket.Client.Services.ForVipCarService;
@inject IVipCarService _vipCarService

<PageTitle>Vip Car Expeditions</PageTitle>

<button href="filtervipcar" class="btn btn-secondary" style="background-color: #008080; color: #ffffff; border-color: #008080; border-radius: 4px; padding: 6px 12px; font-size: 16px; font-weight: bold;">Filtrele</button>

@foreach (var item in _vipCarService.vipCars)
{
    <div class="card">
        <img style="position:center" src="@item.ImageUrl" alt="Card Image">
        <div class="card-body">
            <h3 class="card-title">@item.Company</h3>
            <p class="card-text">@item.Brand</p>
            <p class="card-text">@item.Model</p>
            <a href="checkout/@item.CarId" class="btn btn-primary">Kirala</a>
        </div>
    </div>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await _vipCarService.GetVipCars();

    }
    
}
